body {
    background-color: #2F3C42;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.backArrow {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;

    & svg {
        height: 30px;
        fill: white;
    }
}

#addHousehold {
    background-color: rgba(0, 0, 0, 20%);
    display: flex;
    flex-direction: column;

    padding: 50px 80px 80px;
    border-radius: 45px;

    & #title {
        text-align: center;
        font-size: xx-large;
        color: white;
        font-weight: bold;
    }

    & h2 {
        text-align: center;
        font-size: x-large;
        color: rgba(255, 255, 255, 0.7);
        font-weight: bold;
        margin: 50px 0 20px;
    }

    & form {
        display: flex;
        flex-direction: column;

        & input {
            background: rgba(0, 0, 0, 20%) !important;
            border: none;
            outline: none;
            color: white;
            padding: 10px;
            border-radius: 10px;
            font-size: medium;
            margin-bottom: 5px;
        }

        & button {
            padding: 5px;
            color: rgba(255, 255, 255, 0.8);
            background-color: rgba(0, 0, 0, 40%);
            border-radius: 5px;
            margin-top: 5px;
            font-weight: bold;

            &:hover {
                color: rgba(255, 255, 255, 0.6);
                background-color: rgba(0, 0, 0, 60%);
            }
        }
    }
}

#colorSlider {
    --hue: 0;
    --color-alpha: hsl(var(--hue), 83%, 62%);
    --color-dark: hsla(var(--hue), 83%, 62%, 0.60);
}

#colorSlider,
#colorSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#colorSlider::-webkit-slider-runnable-track {
    border: none;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(to right, hsl(0, 83%, 62%) 0%, hsl(60, 83%, 62%) 17%, hsl(120, 83%, 62%) 33%, hsl(180, 83%, 62%) 50%, hsl(240, 83%, 62%) 67%, hsl(300, 83%, 62%) 83%, hsl(0, 83%, 62%) 100%);
}

#colorSlider::-webkit-slider-thumb {
    margin-top: -6px;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
}

#colorSlider::-moz-range-thumb {
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
}

#colorSlider::-ms-thumb {
    margin-top: 4;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-alpha);
    box-shadow: var(--box-shadow);
}