@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Anek+Bangla:wght@100..800&display=swap');

body {
    background-color: #2F3C42;
    overflow: hidden;
    max-height: 100dvh;
}

main {
    padding: 50px 65px;
    max-height: 100dvh;
    box-sizing: border-box;
}

h1 {
    font-size: 54px !important;
    font-family: "Alfa Slab One", sans-serif;
    color: rgba(255, 255, 255, 60%);
}

#items {
    margin: 25px 37px;
    overflow: auto;
    max-height: calc(100dvh - (81px + 50px + 25px));

    & h2 {
        font-size: 45px !important;
        font-family: "Alfa Slab One", sans-serif;
        color: rgba(255, 255, 255, 40%);
    }

    & #itemsInList {
        display: flex;

        & #noItems {
            color: white;
        }
    }

    & #itemList {
        margin-top: 60px;
        background-color: rgba(0, 0, 0, 20%);
        padding: 50px;
        border-radius: 40px;

        & .subList {
            margin-bottom: 20px;

            & .subListTitle {
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                & h3 {
                    font-family: "Alfa Slab One", sans-serif;
                    font-size: 25px;
                    color: white;
                    margin: 0;
                }

                & svg {
                    height: 47px;
                    fill: white;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        & .items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 10px;
            padding: 20px 10px;
            justify-content: center;
            position: relative;

            & .item {
                width: 140px;
                height: 165px;
                background-color: #00A894;
                border-radius: 15px;
                color: white;
                padding: 10px;
                cursor: pointer;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                user-select: none;
                -webkit-user-select: none;

                & img {
                    height: 50%;
                }
            }
        }
    }

    & {
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}