body {
    background-color: #2F3C42;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.backArrow {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;

    & svg {
        height: 30px;
        fill: white;
    }
}

main {
    background-color: rgba(0, 0, 0, 20%);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 80px 80px;
    border-radius: 45px;

    & h1 {
        text-align: center;
        font-size: xx-large;
        color: white;
        font-weight: bold;
        margin-bottom: 50px;
    }

    & #profile_pic {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 60%) 0px 0px 15px 0px;
        border-radius: 40px;

        &:hover {
            filter: brightness(0.8);
        }

        & img {
            border-radius: 40px;
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }

    & form {
        display: flex;
        flex-direction: column;
    }

    & input {
        background: rgba(0, 0, 0, 20%) !important;
        border: none;
        outline: none;
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-size: medium;
        margin-bottom: 10px;
    }

    & button {
        padding: 5px;
        color: white;
        background-color: rgba(0, 0, 0, 40%);
        border-radius: 5px;
        margin-top: 20px;
        font-weight: bold;
    }

    p {
        color: white;

        & a {
            color: white;
            text-decoration: underline;
        }
    }
}

.error {
    border: 1px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

    &.hidden {
        display: none;
    }
}